{% extends 'base.html' %}
<title>{% block title %}Current pets{% endblock %}</title>
{% block content %}

<div class="div row container">
    <div class=" div col-12 text-center">
        <h1>Pets</h1>
    </div>
</div>

<div class="div row container justify-content-center">
    {% for msg in get_flashed_messages() %}
    <div class="badge badge-pill badge-danger col-6" id="errMsg">
        {{msg}}
    </div>
    {% endfor %}
</div>

<div class="div row container text-center">
    {% for pet in pets%}

    <div class="col">
        <img src="{{pet.image_url}}" alt="{{pet.name}}" width="135px">
        <br>
        <a href="/pets/{{pet.id}}/edit">{{pet.name}}</a> is
        {% if pet.available == True%}
        <font color="green"> <b>AVAILABLE!</b></font>
        {%else%}
        unavailable.
        {%endif%}
    </div>
    {% endfor %}

</div>
<div class="div row container text-center">
    <div class="col">
        <a href="/pets/new"><button type="button" class="btn btn-warning btn-sm m-1">Add
                pet</button></a>
        </ul>
    </div>
</div>

{% endblock %}